<%= form_for(@achievement_step) do |f| %>
  <% if @achievement_step.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@achievement_step.errors.count, "error") %> prohibited this achievement_step from being saved:</h2>

      <ul>
      <% @achievement_step.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br />
    <%= f.number_field :id %>
  </div>
  <div class="field">
    <%= f.label :achievement_id %><br />
    <%= f.number_field :achievement_id %>
  </div>
  <div class="field">
    <%= f.label :value %><br />
    <%= f.number_field :value %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :slug %><br />
    <%= f.text_field :slug %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
