<%= form_for(@developer_project) do |f| %>
  <% if @developer_project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@developer_project.errors.count, "error") %> prohibited this developer_project from being saved:</h2>

      <ul>
      <% @developer_project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :project_id %><br />
    <%= f.number_field :project_id %>
  </div>
  <div class="field">
    <%= f.label :developer_id %><br />
    <%= f.number_field :developer_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
