<h1>Listing developer_projects</h1>

<table>
  <tr>
    <th>Project</th>
    <th>Developer</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @developer_projects.each do |developer_project| %>
  <tr>
    <td><%= developer_project.project_id %></td>
    <td><%= developer_project.developer_id %></td>
    <td><%= link_to 'Show', developer_project %></td>
    <td><%= link_to 'Edit', edit_developer_project_path(developer_project) %></td>
    <td><%= link_to 'Destroy', developer_project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Developer project', new_developer_project_path %>
