<p id="notice"><%= notice %></p>

<p>
  <b>Project:</b>
  <%= @developer_project.project_id %>
</p>

<p>
  <b>Developer:</b>
  <%= @developer_project.developer_id %>
</p>


<%= link_to 'Edit', edit_developer_project_path(@developer_project) %> |
<%= link_to 'Back', developer_projects_path %>
